/* .entire{
    background-color: orange;
} */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    background-color: orange;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav li{
    list-style: none;
    margin-left: 2rem;
}
nav li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

/* hero */
.hero-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
}
.hero-text{
    font-size: 2.6rem;
}
button{
    color: black;
    border: 2px orangered solid;
    border-radius: 2px;
    padding: 0.6rem 2rem;
    margin-top: 4rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: white;
}
.hero-text span{
    color: green;
}

.hero-page img{
    width: 35vw;
}

/* dark */
.dark{
    background-color: black;
    height: 5vh;
    color: white;
}

