/* .entire{
    background-color: orange;
} */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    background-color: orange;
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav li{
    list-style: none;
    margin-left: 2rem;
}
nav li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}
.hero-pages-slider{
    display: flex;
}

/* hero */
.hero-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    padding: 3rem;
    display: none;
}
.carousel__item--selected{
    display: flex;
}
.hero-text{
    font-size: 2.6rem;
}
button{
    color: white;
    background-color: orangered;
    border: transparent;
    border-radius: 3px;
    padding: 0.6rem 2rem;
    margin-top: 4rem;
    font-size: 1.2rem;
}
.hero-text span{
    color: green;
}
.hero-image{
    width: 30vw;
    border: 1px solid green;
}
.hero-image img{
    width: 30vw;
}

/* dark */
.dark{
    background-color: black;
    height: 20vh;
}

