/* .entire{
    background-color: orange;
} */
.upper{
    position: sticky;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    background-color: orange;
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav li{
    list-style: none;
    margin-left: 2rem;
}
nav li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

/* hero */
.hero-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
}
.hero-text{
    font-size: 2.6rem;
}
button{
    color: black;
    border: 2px orangered solid;
    border-radius: 2px;
    padding: 0.6rem 2rem;
    margin-top: 4rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: white;
}
.hero-text span{
    color: green;
}

.hero-page img{
    width: 35vw;
}

/* dark */
.dark{
    background-color: black;
    height: 5vh;
    color: white;
}

/* Categories */
.categories{
    padding: 2rem;
    background-color: white;
}
.categories-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.categories-body{
    display: flex;
    flex-direction: column;
}
.sec_1{
    /* background-color: yellow; */
    display: flex;
}
.sec_2{
    /* background-color: yellow; */
    display: flex;
}
.cat-g{
    margin-top: 0.8rem;
    border-radius: 50%;
    margin-left: 2rem;
}
.cat-g h3{
    text-align: center;
    font-size: 1.5rem;
    color: black;
}
.cat-g img{
    border-radius: 10px;
}

/* Trending */
.trending{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 2rem;
}
.trending h2{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.trending-shoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.trending-shoes h3{
    text-align: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 4rem;
}
.footer {
    color: white;
    font-size: 1.4rem;
}
nav ul{
    display: flex;
    font-size: 16px;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
}
.trending::before{
    content: '';
    background-color: red;
    width: 10px;
    height: 4rem;
}
.categories-header::before{
    content: '';
    background-color: orange;
    width: 40px;
    height: 18px;
}
.categories-header::after{
    content: '';
    background-color: orange;
    width: 40px;
    height: 18px;
}
.categories h2{
    margin: 2rem;
}